{% extends "master.html.twig" %}


{% block title %}Login{% endblock %}

{% block content %}

    {% if error %}
        <p>Login invalid. Try again or <a href="/register">register</a>.</p>
    {% endif %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">Register</div>
                <div class="panel-body">
                    <form method="post">
                        Email: <input type="email" name="email"><br>
                        Password: <input type="password" name="pass"><br>
                        <input type="submit" value="Login">
                    </form>

                {% endblock %}
