{% extends "master.html.twig" %}

{% block title %}Login successful{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">Register</div>
                <div class="panel-body">
                    <form method="post">
                        <p>Login successful, <a href="/">click to continue</a>.</p>
                    </form>

                {% endblock %}
