<!DOCTYPE html>
<html lang="en">    
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <meta charset="UTF-8">
        <title>{% block title %}Default{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet" >
        <link href="/css/font-awesome.min.css" type="text/css" rel="stylesheet" >
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="/css/stylesheet.css" type="text/css" rel="stylesheet">
        {% block headextra %} {% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-custom">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">Video Project</a>
                </div>
                <div class="form-inline nav navbar-nav navbar-right" style="padding: 12px;">
                    <div class="input-group">
                        <input type="search" placeholder="Search..." class="form-control">
                        <div class="input-group-btn">
                            <button class="btn btn-default"><span class='fa fa-search'></span></button>
                        </div>
                    </div>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Player</a></li>
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">Register</a></li>                    
                </ul>                                                
            </div>
        </nav>

        <header>
            <div class="text-center">
                <h1>VIDEO PROJECT</h1>
                <p>Lorem ipsum dolores erratum</p>
            </div>
        </header>

        <div id="centeredContent">
        {% block content %}{% endblock %}
    </div>
    <div class='padding-65'></div>
    <div class='navbar navbar-inverse navbar-fixed-bottom'>
        <p class="text-center footer"><small>© Copyright Arturo Alvarado, 2017. All rights reserved.</small></p>
    </div>
</body>
</html>
