{% extends "master.html.twig" %}

{% block title %}Product list{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="col-md-12">
            <nav class="navbar navbar-sub">
                <ul class="nav navbar-nav">
                    <li><a href="#">Create Entry</a></li>
                    <li><a href="#">Read Entry</a></li>
                    <li><a href="#">Update Entry</a></li>
                    <li><a href="#">Delete Delete</a></li>
                </ul>                
            </nav>            
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="page-header">
            <h2>Latest Posts</h2>
        </div>
        <div class="custom-sidebar-list">
            <a href="#" class=" custom-sidebar-list">Video 1</a>
            <a href="#" class=" custom-sidebar-list">Video 2</a>
            <a href="#" class=" custom-sidebar-list">Video 3</a>
        </div>
        <div class="page-header">
            <h2>Post of the Day</h2>
        </div>
        <div class="day-post">
            <h3>T Second Post</h3>
            <div class="meta small-text"><a href="#">11-11-2017</a> | <a href="#">Home Page</a> |
                <a href="#">Arturo Alvarado</a>       
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. 
                    Richard McClintock,</p>
                <a href="#" class="label label-default">Video 1</a>
                <a href="#" class="list-group-item">Video 2</a>
                <a href="#" class="list-group-item">Video 3</a>
            </div>
            <br>
            <img src="../images/me.jpg" class='img-circle'>
        </div>
    </div>

    <div class="col-md-4">
        <div class="page-header">
            <h2>Latest Posts</h2>
        </div>
        <div class="custom-sidebar-list">
            <a href="#" class=" custom-sidebar-list">Video 1</a>
            <a href="#" class=" custom-sidebar-list">Video 2</a>
            <a href="#" class=" custom-sidebar-list">Video 3</a>
        </div>
        <div class="page-header">
            <h2>Post of the Day</h2>
        </div>
        <div class="day-post">
            <h3>T Second Post</h3>
            <div class="meta small-text"><a href="#">11-11-2017</a> | <a href="#">Home Page</a> |
                <a href="#">Arturo Alvarado</a>       
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. 
                    Richard McClintock,</p>
                <a href="#" class="label label-default">Video 1</a>
                <a href="#" class="list-group-item">Video 2</a>
                <a href="#" class="list-group-item">Video 3</a>
            </div>
            <br>
            <img src="../images/me.jpg" class='img-circle'>
        </div>
    </div>

    <div class="col-md-4">
        <div class="page-header">
            <h2>Latest Posts</h2>
        </div>
        <div class="custom-sidebar-list">
            <a href="#" class=" custom-sidebar-list">Video 1</a>
            <a href="#" class=" custom-sidebar-list">Video 2</a>
            <a href="#" class=" custom-sidebar-list">Video 3</a>
        </div>
        <div class="page-header">
            <h2>Post of the Day</h2>
        </div>
        <div class="day-post">
            <h3>T Second Post</h3>
            <div class="meta small-text"><a href="#">11-11-2017</a> | <a href="#">Home Page</a> |
                <a href="#">Arturo Alvarado</a>       
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. 
                    Richard McClintock,</p>
                <a href="#" class="label label-default">Video 1</a>
                <a href="#" class="list-group-item">Video 2</a>
                <a href="#" class="list-group-item">Video 3</a>
            </div>
            <br>
            <img src="../images/me.jpg" class='img-circle'>
        </div>
    </div>
    <div class="col-md-4">
        <div class="page-header">
            <h2>Latest Posts</h2>
        </div>
        <div class="list-group-item">
            <a href="#" class=" list-group-item">Video 1</a>
            <a href="#" class=" list-group-item">Video 2</a>
            <a href="#" class=" list-group-item">Video 3</a>
        </div>
        <div class="page-header">
            <h2>Post of the Day</h2>
        </div>
        <div class="list-group-item">
            <h3>T Second Post</h3>
            <div class="meta small-text"><a href="#">11-11-2017</a> | <a href="#">Home Page</a> |
                <a href="#">Arturo Alvarado</a>       
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. 
                    Richard McClintock,</p>
                <a href="#" class="label label-default">Video 1</a>
                <a href="#" class="list-group-item">Video 2</a>
                <a href="#" class="list-group-item">Video 3</a>
            </div>
            <br>
            <img src="../images/me.jpg" class='img-rounded'>
        </div>
    </div>

    <div class="col-md-4">
        <div class="page-header">
            <h2>Latest Posts</h2>
        </div>
        <div class="list-group-item">
            <a href="#" class=" list-group-item">Video 1</a>
            <a href="#" class=" list-group-item">Video 2</a>
            <a href="#" class=" list-group-item">Video 3</a>
        </div>
        <div class="page-header">
            <h2>Post of the Day</h2>
        </div>
        <div class="list-group-item">
            <h3>T Second Post</h3>
            <div class="meta small-text"><a href="#">11-11-2017</a> | <a href="#">Home Page</a> |
                <a href="#">Arturo Alvarado</a>       
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. 
                    Richard McClintock,</p>
                <a href="#" class="label label-default">Video 1</a>
                <a href="#" class="list-group-item">Video 2</a>
                <a href="#" class="list-group-item">Video 3</a>
            </div>
            <br>
            <img src="../images/me.jpg" class='img-rounded'>
        </div>
    </div>

    <div class="col-md-4">
        <div class="page-header">
            <h2>Latest Posts</h2>
        </div>
        <div class="list-group-item">
            <a href="#" class=" list-group-item">Video 1</a>
            <a href="#" class=" list-group-item">Video 2</a>
            <a href="#" class=" list-group-item">Video 3</a>
        </div>
        <div class="page-header">
            <h2>Post of the Day</h2>
        </div>
        <div class="list-group-item">
            <h3>T Second Post</h3>
            <div class="meta small-text"><a href="#">11-11-2017</a> | <a href="#">Home Page</a> |
                <a href="#">Arturo Alvarado</a>       
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. 
                    Richard McClintock,</p>
                <a href="#" class="label label-default">Video 1</a>
                <a href="#" class="list-group-item">Video 2</a>
                <a href="#" class="list-group-item">Video 3</a>
            </div>
            <br>
            <img src="../images/me.jpg" class='img-rounded'>
        </div>
    </div>

    <div class="col-md-4">
        <div class="page-header">
            <h2>Latest Posts</h2>
        </div>
        <div class="custom-sidebar-list">
            <a href="#" class=" custom-sidebar-list">Video 1</a>
            <a href="#" class=" custom-sidebar-list">Video 2</a>
            <a href="#" class=" custom-sidebar-list">Video 3</a>
        </div>
        <div class="page-header">
            <h2>Post of the Day</h2>
        </div>
        <div class="day-post">
            <h3>T Second Post</h3>
            <div class="meta small-text"><a href="#">11-11-2017</a> | <a href="#">Home Page</a> |
                <a href="#">Arturo Alvarado</a>       
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. 
                    Richard McClintock,</p>
                <a href="#" class="label label-default">Video 1</a>
                <a href="#" class="list-group-item">Video 2</a>
                <a href="#" class="list-group-item">Video 3</a>
            </div>
            <br>
            <img src="../images/me.jpg" class='img-circle'>
        </div>
    </div>

    <div class="col-md-4">
        <div class="page-header">
            <h2>Latest Posts</h2>
        </div>
        <div class="custom-sidebar-list">
            <a href="#" class=" custom-sidebar-list">Video 1</a>
            <a href="#" class=" custom-sidebar-list">Video 2</a>
            <a href="#" class=" custom-sidebar-list">Video 3</a>
        </div>
        <div class="page-header">
            <h2>Post of the Day</h2>
        </div>
        <div class="day-post">
            <h3>T Second Post</h3>
            <div class="meta small-text"><a href="#">11-11-2017</a> | <a href="#">Home Page</a> |
                <a href="#">Arturo Alvarado</a>       
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. 
                    Richard McClintock,</p>
                <a href="#" class="label label-default">Video 1</a>
                <a href="#" class="list-group-item">Video 2</a>
                <a href="#" class="list-group-item">Video 3</a>
            </div>
            <br>
            <img src="../images/me.jpg" class='img-circle'>
        </div>
    </div>

    <div class="col-md-4">
        <div class="page-header">
            <h2>Latest Posts</h2>
        </div>
        <div class="custom-sidebar-list">
            <a href="#" class=" custom-sidebar-list">Video 1</a>
            <a href="#" class=" custom-sidebar-list">Video 2</a>
            <a href="#" class=" custom-sidebar-list">Video 3</a>
        </div>
        <div class="page-header">
            <h2>Post of the Day</h2>
        </div>
        <div class="day-post">
            <h3>T Second Post</h3>
            <div class="meta small-text"><a href="#">11-11-2017</a> | <a href="#">Home Page</a> |
                <a href="#">Arturo Alvarado</a>       
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. 
                    Richard McClintock,</p>
                <a href="#" class="label label-default">Video 1</a>
                <a href="#" class="list-group-item">Video 2</a>
                <a href="#" class="list-group-item">Video 3</a>
            </div>
            <br>
            <img src="../images/me.jpg" class='img-circle'>
        </div>
    </div>
{% endblock %}