{% extends "master.html.twig" %}

{% block title %}Upload{% endblock %}

{% block headextra %}

{% endblock %}

{% block content %}  

    <div class="row container-fluid">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <br>
                <div class="panel-heading">Video Uploader</div>

                <div class="panel-body">
                    <form action='upload' method="post" enctype='multipart/form'>
                        
                        <div class='panel-body'>
                        <label>Title :</label>
                        <textarea class='form-control'></textarea><br>
                        </div>
                        
                        <div class='panel-body'>
                        <label>Description :</label>
                        <textarea class='form-control'></textarea><br>
                        </div>
                        
                        <div class='panel-body'>
                        <label>Select Playlist :</label>
                        <textarea class='form-control'></textarea><br>
                        </div>
                        
                                                <div class='panel-body'>
                        <label>Select File :</label>
                        <input type="file" name="fileToUpload" >
                        </div>
                        
                        <div class='panel-body'>
                        <label>Select File :</label>
                        <input type="submit" value="Upload Video" name="submit">
                        </div>
                        
                        <div class='panel-body'>
                        <label>Status :</label>
                        <option selected>Public</option>
                        <option>Unlisted</option>
                        <option>Private</option>
                        </div>
                        
                    </form>

                    </div>
                {% endblock %}


