{% extends "master.html.twig" %}

{% block title %} {{ "home"|trans }} {% endblock %}
{% block head %}   

    <!-- jQuery -->
    <script src="/js/video_script.js"></script>

{% endblock %}


{% block content %}
    <div id="cartContainer">

    </div>

        {% endblock %}  